In [1]:
hours = 35.0 
rate = 12.50 
pay = hours * rate 
print(pay)

437.5

In [2]:
x=2

In [7]:
x=2
x=x+2
print(x)

4

**Numeric Expression**

In [8]:
xx = 2
>>> xx = xx + 2
>>> print(xx)

4

**operator precedence**

In [12]:
x = 1 + 2 * 3 - 4 / 5 ** 6
print(x)

6.999744

**Type**

In [14]:
xx=1
type (xx)

int

In [15]:

 temp = 98.6
 type(temp)

float

In [16]:

 type(1.0)

float

**Type Conversion**

In [18]:
 print(float(99) + 100)

199.0

In [19]:
 i = 42
 type(i)

int

In [20]:

 f = float(i)
 print(f)

42.0

**String Conversion**

In [24]:
 sval = '123'
 type(sval)

str

In [25]:
>>> print(sval + 1)

TypeError: can only concatenate str (not "int") to str

In [31]:
 ival = int(sval)
 type(ival)

 print(ival + 1)

124

**Converting User Input**

In [34]:
inp = input('Europe floor?')
usf = int(inp) + 1
print('US floor', usf)

Europe floor?0
US floor 1

**Write a program to prompt the user for hours 
and rate per hour to compute gross pay**

In [35]:
hrs = input("Enter Hours:")
rate = input("Enter Rate:")
pay = float(hrs) * float(rate)
print("Pay:", pay)

Enter Hours:35
Enter Rate:2.75
Pay: 96.25